@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/*-- scss:rules --*/
.table {width:auto;}

code {font-family: 'Fira Code Medium', monospace;}

.printedClojure {
  max-width:100%;
  overflow-x: auto;
  max-height:400px;
  overflow-y: auto;
}

.generatedCode .sourceCode {
  background-color: #eeffee;
  border-style: none;
}
